/* collective.teamwork Plone 5 styles */

/* Viewlet styles */

#viewlet-above-content {
  position:relative;
}

#portal-breadcrumbs {
  padding-right:40px;
}

div.home_icons {
  position:absolute;
  top:6px;
  right:14px;
  border-bottom:none !important;
}

div.home_icons img {
  width:24px;
  height:24px;
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
  opacity:0.35;
}

/* Toolbar styles */

/* Content type icon styles */

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-teamwork-project::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-teamwork-project::before,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-teamwork-workspace::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-teamwork-workspace::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-teamwork-team::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-teamwork-team::after {
  background-image: url(../../++resource++collective.teamwork/images/project16.png);
  background-repeat: no-repeat !important;
  width:20px !important;
  content:' ';
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-teamwork-workspace::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-teamwork-workspace::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-teamwork-team::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-teamwork-team::before {
  background-image: url(../../++resource++collective.teamwork/images/team16.png);
}


body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-teamwork-project::before,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-teamwork-team::before {
  margin-top: -5.5px !important;
  top: 6px !important;
}
