/* collective.teamwork application UI style sheet */

#contentview-workspace_membership a, #contentview-roster a { 
  padding:0 0.8em 8px 24px !important;
  margin-bottom:-8px;
  overflow:hidden;
  background-image:url("group.png") !important;
  background-position:5px 3px !important;
  background-repeat:no-repeat !important;
  height:16px !important;
  height /**/:16px; /* MSIE? */
}

#plone-contentmenu-workflow .state-restricted {
  background-color: #ffc;
  border: 0.1em solid #ffc;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  color: #800 !important;
  padding: 0 0.5em;
}


#plone-contentmenu-workflow .state-collaborative_editing {
  background-color: #dfc;
  border: 0.1em solid #dfc;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  color: black !important;
  font-weight:bold;
  padding: 0 0.5em;
}

#plone-contentmenu-workflow .state-archived {
  background-color: yellow;
  border: 0.1em solid yellow;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  color: #038 !important;
  font-weight:bold;
  padding: 0 0.5em;
}


/* home icons viewlet adjacent to personal tools menu: */

div.home_icons {
  float:right;
  border-bottom: 0.1em solid #acf;
  padding-bottom:0.2em;
  background-color:transparent;

  margin-left:0.3em;
}

div.home_icons a {
    margin-left:0.2em;
}

#portal-personaltools-wrapper { 
    height:1.6em;
    width:50%;
    float:right;
}

#portal-personaltools {
    padding-bottom:0.4em !Important;
}

